[Unit]
Description=Touch Panel Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/guille/panel
ExecStart=/usr/bin/python3 -u /home/guille/panel/panel_server.py
Restart=always
RestartSec=3

# Isolate Touch Panel Server to CPU Cores 0 & 1
CPUAffinity=0 1
Nice=10

[Install]
WantedBy=multi-user.target
