[Unit]
Description=Clear CDPlayer Boot Splash
After=multi-user.target cdplayer.service cdpanel.service
Wants=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/boot-splash-clear.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
